In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver

# Q1)

In [3]:
driver=webdriver.Chrome("chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
search_job=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
search_job.send_keys("Data Analyst")
search_job=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_job.send_keys("Bangalore")

In [6]:
button = driver.find_element_by_xpath("//div[@class='search-btn']")
button.click()

In [7]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"
driver.get(url)

In [8]:
job_titles=[]
company_name=[]
location_city=[]
total_experience=[]

In [9]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="5ca9e4eb-6ed4-4ba5-8676-43d80d998c6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="b04e5ac6-e134-4832-9858-b84afca9de68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="ddc34330-0336-46ea-aaf0-dd88e3c7f66b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="e8356ad2-b26f-4e84-9a59-d55a6a33274a")>]

In [10]:
for i in title:
    titles=i.text
    job_titles.append(titles)
job_titles[0:4]

['Data Analyst PowerBI Bangalore',
 'Data Analyst',
 'Data Analyst || SQL,Python, R || Bangalore',
 'Data Analyst - I']

In [11]:
names=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']")
names[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="9da83c15-89dd-4fec-a42d-3986c005a219")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="a03af74c-ad93-4aaa-b680-3e49c599ab11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="aaa5c3ee-eba9-4478-89f6-8b59b8def8dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="97c642ad-b280-42bb-8f0b-30cea3dd314e")>]

In [12]:
for i in names:
    name=i.text
    company_name.append(name)
company_name[0:4]

['Talent Corner HR Services Pvt Ltd',
 'Bion',
 'Binary Semantics Limited\n3.4\n(83 Reviews)',
 'Novel Office']

In [13]:
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="d3a0cf79-c135-4b2f-b6f4-c160e47296b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="b7d94952-8b63-4015-b935-09e8c8e7fbce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="91c2bca2-d90d-4721-8639-c89bdc18a4ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="2416bdce-4231-478f-925d-8da50cdaf274")>]

In [14]:
for i in locations:
    location=i.text
    location_city.append(location)
location_city[0:4]

['Bengaluru / Bangalore', 'Bengaluru', 'Bengaluru', 'Bengaluru']

In [15]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="388fca0d-e1c1-4dbb-8fc9-4233a5cead6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="d2e70da5-7592-4445-a8d2-3cedbd3b8bca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="80a5f2ff-1b0d-4425-8389-325ff454f794")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4642177aae64b1977ef773cc6f373456", element="709b1d15-e4e5-4712-b924-0d0968608143")>]

In [16]:
for i in experience:
    experiences=i.text
    total_experience.append(experiences)
total_experience[0:4]

['1-3 Yrs', '2-4 Yrs', '3-7 Yrs', '0-3 Yrs']

In [18]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Job']=job_titles[0:10]
jobs['Company']=company_name[0:10]
jobs['Location']=location_city[0:10]
jobs['Experience']=total_experience[0:10]

In [19]:
jobs

,Job,Company,Location,Experience
0,Data Analyst PowerBI Bangalore,Talent Corner HR Services Pvt Ltd,Bengaluru / Bangalore,1-3 Yrs
1,Data Analyst,Bion,Bengaluru,2-4 Yrs
2,"Data Analyst || SQL,Python, R || Bangalore",Binary Semantics Limited\n3.4\n(83 Reviews),Bengaluru,3-7 Yrs
3,Data Analyst - I,Novel Office,Bengaluru,0-3 Yrs
4,Data Analyst,Perficient India Private Limited\n3.8\n(42 Rev...,"Chennai, Bengaluru",3-8 Yrs
5,Data Analyst,Snaphunt,Bengaluru,3-5 Yrs
6,SAP Data Analyst,JOHN CRANE SEALING SYSTEMS INDIA PVT. LTD.\n3....,Bengaluru,3-7 Yrs
7,Hiring Data Analysts on Contract,Flipkart Internet Private Limited\n4.2\n(2712 ...,Bengaluru,2-5 Yrs
8,Hiring Data Analysts on Contract,Flipkart Internet Private Limited\n4.2\n(2712 ...,Bengaluru,2-5 Yrs
9,Data Analyst,"Liventus, Inc.\n4.3\n(7 Reviews)",Bengaluru(2nd Phase JP Nagar),3-6 Yrs

 # Q2)

In [36]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.naukri.com/")
search_job=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
search_job.send_keys("Data Scientist")
search_job=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_job.send_keys("Bangalore")
button = driver.find_element_by_xpath("//div[@class='search-btn']")
button.click()

In [37]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"
driver.get(url)
job_titles=[]
company_name=[]
location_city=[]
total_experience=[]
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:4]
for i in title:
    titles=i.text
    job_titles.append(titles)
job_titles[0:4]

names=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']")
names[0:4]
for i in names:
    name=i.text
    company_name.append(name)
company_name[0:4]

locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations[0:4]
for i in locations:
    location=i.text
    location_city.append(location)
location_city[0:4]

experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience[0:4]
for i in experience:
    experiences=i.text
    total_experience.append(experiences)
total_experience[0:4]

['1-2 Yrs', '3-8 Yrs', '6-11 Yrs', '2-7 Yrs']

In [42]:
job_description=[]
button=[]
button = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in button:
    buttons=i.click()
    jobs=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
    for i in jobs:
        job=i.text
        job_description.append(job)

In [44]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Job']=job_titles[0:10]
jobs['Company']=company_name[0:10]
jobs['Location']=location_city[0:10]
jobs['Experience']=total_experience[0:10]

In [45]:
jobs

,Job,Company,Location,Experience
0,Data Scientist/Data Analyst-immediate,Inflexion Analytix Private Limited,"Chennai, Pune, Bengaluru, Hyderabad",1-2 Yrs
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,3-8 Yrs
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,6-11 Yrs
3,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED\n3.9\n(119 R...,Bengaluru,2-7 Yrs
4,Data Scientist,Atos Syntel Private Limited\n3.6\n(1786 Reviews),"Chennai, Pune, Mumbai, Bengaluru",12-18 Yrs
5,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.\n3.6\n(10444 Reviews),"Pune, Bengaluru",12-20 Yrs
6,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.\n3.6\n(10444 Reviews),"Pune, Bengaluru",12-20 Yrs
7,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad",4-9 Yrs
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.\n3.1\n(73 Reviews),"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",2-7 Yrs
9,Sr Data Scientist,Concentrix Daksh Services India Private Limite...,"Pune, Mumbai, Bengaluru, Gurgaon, Kolkata",4-9 Yrs

# Q3

In [96]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.naukri.com/")
search_job=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
search_job.send_keys("Data Scientist")
search_job=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_job.send_keys("Delhi/NCR")
button = driver.find_element_by_xpath("//div[@class='search-btn']")
button.click()

In [98]:
buttons = driver.find_element_by_xpath("//span[@class='ellipsis fleft']")
buttons.click()

In [99]:
url="https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr&cityType=25.9.31&ctcFilter=3to6"
driver.get(url)
job_titles=[]
company_name=[]
location_city=[]
total_experience=[]
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:4]
for i in title:
    titles=i.text
    job_titles.append(titles)
job_titles[0:4]

names=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']")
names[0:4]
for i in names:
    name=i.text
    company_name.append(name)
company_name[0:4]

locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations[0:4]
for i in locations:
    location=i.text
    location_city.append(location)
location_city[0:4]

experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience[0:4]
for i in experience:
    experiences=i.text
    total_experience.append(experiences)
total_experience[0:4]

['4-8 Yrs', '0-0 Yrs', '5-6 Yrs', '1-3 Yrs']

In [100]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Job']=job_titles[0:10]
jobs['Company']=company_name[0:10]
jobs['Location']=location_city[0:10]
jobs['Experience']=total_experience[0:10]

In [101]:
jobs

,Job,Company,Location,Experience
0,Data Scientist,IBM India Pvt. Limited\n4.0\n(8809 Reviews),Gurgaon Gurugram,4-8 Yrs
1,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Noida, Gurgaon",0-0 Yrs
2,Data Scientist,Ciena\n4.3\n(83 Reviews),Gurgaon Gurugram,5-6 Yrs
3,Data Scientist,Country Veggie,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",1-3 Yrs
4,Data Scientist Machine Learning,Delhivery\n4.2\n(1246 Reviews),Gurgaon,1-3 Yrs
5,Business Analyst - Data Scientist,HyreFox Consultants Pvt Ltd\n4.3\n(14 Reviews),Gurgaon,3-5 Yrs
6,Analyst - Data Scientist,HyreFox Consultants Pvt Ltd\n4.3\n(14 Reviews),Gurgaon,1-3 Yrs
7,Data Scientist,Amity University\n3.8\n(524 Reviews),"Faridabad, Delhi NCR, Ghaziabad",6-8 Yrs
8,Data Scientist,BlackBuck\n3.6\n(488 Reviews),"Bengaluru, Gurgaon",3-7 Yrs
9,Senior Data Scientist,iNICU,Delhi,1-5 Yrs

 # Q4)

In [119]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.glassdoor.co.in/index.htm")

In [123]:
search_job=driver.find_element_by_xpath("//input[@id='scKeyword']")
search_job.send_keys("Data Scientist")

In [124]:
search_job=driver.find_element_by_xpath("//input[@id='scLocation']")
search_job.send_keys("Noida")

In [125]:
button = driver.find_element_by_xpath("//button[@class='pl-0 pr-xsm SearchStyles__searchKeywordSubmit']")
button.click()

In [136]:
url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"
driver.get(url)
job_title=[]
company_names=[]
location_citys=[]

In [138]:
title=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
title[0:4]
for i in title:
    titles=i.text
    job_title.append(titles)
job_title[0:4]

['Adobe',
 'Biz2Credit Inc',
 'Emerging India Group',
 'Salasar New Age Technologies']

In [139]:
names=driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']")
names[0:4]
for i in names:
    name=i.text
    company_names.append(name)
company_names[0:4]

['Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist']

In [140]:
locations=driver.find_elements_by_xpath("//div[@class='d-flex flex-wrap css-11d3uq0 e1rrn5ka2']//span[1]")
locations[0:4]
for i in locations:
    location=i.text
    location_citys.append(location)
location_citys[0:4]

['Noida', 'Noida', 'Noida', 'Noida']

In [141]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Job']=job_title[0:10]
jobs['Company']=company_names[0:10]
jobs['Location']=location_citys[0:10]
jobs

                            Job                Company Location
0                         Adobe         Data Scientist    Noida
1                Biz2Credit Inc         Data Scientist    Noida
2          Emerging India Group         Data Scientist    Noida
3  Salasar New Age Technologies         Data Scientist    Noida
4                      xtLytics     Jr. Data Scientist    Noida
5                       WishFin                           Noida
6              Mahindra Comviva         Data Scientist  Gurgaon
7                      Techlive         Data Scientist    Noida
8  Salasar New Age Technologies  Data Scientist Intern    Noida
9                     HDFC Bank     RAU-Data Scientist  Gurgaon

# Q5)

In [149]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [150]:
search_job=driver.find_element_by_xpath("//input[@id='KeywordSearch']")
search_job.send_keys("Data Scientist")
search_job=driver.find_element_by_xpath("//input[@id='LocationSearch']")
search_job.send_keys("Noida")

In [151]:
button = driver.find_element_by_xpath("//button[@id='HeroSearchButton']")
button.click()

In [153]:
url="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"
driver.get(url)
company_names=[]

In [167]:
Average_salarys=[]
min_salary=[]
max_salary=[]
job_titles=[]

In [156]:
title=driver.find_elements_by_xpath("//p[@class='m-0 ']")
title[0:4]
for i in title:
    titles=i.text
    company_names.append(titles)
company_names[0:4]

['Delhivery', 'Ericsson-Worldwide', 'Tata Consultancy Services', 'Accenture']

In [175]:
title=driver.find_elements_by_xpath("//p[@class='m-0']//a")
title[0:4]
for i in title:
    titles=i.text
    job_title.append(titles)
job_title[0:4]

['Data Scientist',
 'See 14 salaries from all locations',
 'Data Scientist',
 'See 25 salaries from all locations']

In [176]:
job_titles = job_title[0::2] 
job_titles[0:10]

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [168]:
title=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
title[0:4]
for i in title:
    titles=i.text
    Average_salarys.append(titles)
Average_salarys[0:4]

['₹ 12,64,182', '₹ 7,30,968', '₹ 6,00,000', '₹ 9,94,055']

In [169]:
title=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
title[0:4]
for i in title:
    titles=i.text
    min_salary.append(titles)
min_salary[0:4]

['₹450K', '₹350K', '₹336K', '₹577K']

In [170]:
title=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
title[0:4]
for i in title:
    titles=i.text
    max_salary.append(titles)
max_salary[0:4]

['₹11,630K', '₹1,614K', '₹1,010K', '₹2,215K']

In [177]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Job']=job_titles[0:10]
jobs['Company']=company_names[0:10]
jobs['Average_salary']=Average_salarys[0:10]
jobs['min_salarys']=min_salary[0:10]
jobs['max_salarys']=max_salary[0:10]
jobs

,Job,Company,Average_salary,min_salarys,max_salarys
0,Data Scientist,Delhivery,"₹ 12,64,182",₹450K,"₹11,630K"
1,Data Scientist,Ericsson-Worldwide,"₹ 7,30,968",₹350K,"₹1,614K"
2,Data Scientist,Tata Consultancy Services,"₹ 6,00,000",₹336K,"₹1,010K"
3,Data Scientist,Accenture,"₹ 9,94,055",₹577K,"₹2,215K"
4,Data Scientist,IBM,"₹ 7,39,040",₹587K,"₹2,732K"
5,Data Scientist,UnitedHealth Group,"₹ 13,37,114",₹717K,"₹1,575K"
6,Data Scientist,Valiance Solutions,"₹ 7,80,374",₹502K,"₹1,152K"
7,Data Scientist,Innovaccer,"₹ 11,98,792",₹621K,"₹1,696K"
8,Data Scientist,Cognizant Technology Solutions,"₹ 10,08,143",₹793K,"₹1,264K"
9,Data Scientist,EXL Service,"₹ 11,34,989",₹576K,"₹1,500K"

# Q6)

In [181]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get(" https://www.flipkart.com/")

In [182]:
search=driver.find_element_by_xpath("//input[@class='_3704LK']")
search.send_keys("sunglasses")

In [185]:
button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
button.click()

In [186]:
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver.get(url)

In [189]:
name=[]
price=[]
discount=[]

In [193]:
title=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
title[0:4]
for i in title:
    titles=i.text
    name.append(titles)
name[0:4]

['like future', 'PIRASO', 'NuVew', 'hipe']

In [190]:
title=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
title[0:4]
for i in title:
    titles=i.text
    price.append(titles)
price[0:4]

['₹199', '₹255', '₹499', '₹499']

In [191]:
title=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
title[0:4]
for i in title:
    titles=i.text
    discount.append(titles)
discount[0:4]

['86% off', '78% off', '77% off', '37% off']

In [192]:
next= driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next.click()

In [194]:
title=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
title[0:4]
for i in title:
    titles=i.text
    name.append(titles)
name[0:4]
title=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
title[0:4]
for i in title:
    titles=i.text
    price.append(titles)
price[0:4]
title=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
title[0:4]
for i in title:
    titles=i.text
    discount.append(titles)
discount[0:4]

['86% off', '78% off', '77% off', '37% off']

In [195]:
next= driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next.click()

In [196]:
title=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
title[0:4]
for i in title:
    titles=i.text
    name.append(titles)
name[0:4]
title=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
title[0:4]
for i in title:
    titles=i.text
    price.append(titles)
price[0:4]
title=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
title[0:4]
for i in title:
    titles=i.text
    discount.append(titles)
discount[0:4]

['86% off', '78% off', '77% off', '37% off']

In [197]:
import pandas as pd
sunglasses=pd.DataFrame({})
sunglasses['Name']=name[0:100]
sunglasses['Price']=price[0:100]
sunglasses['Discount']=discount[0:100]
sunglasses

                Name Price Discount
0        like future  ₹199  86% off
1             PIRASO  ₹255  78% off
2              NuVew  ₹499  77% off
3               hipe  ₹499  37% off
4       Silver Kartz  ₹599  33% off
..               ...   ...      ...
95  shah collections  ₹331  80% off
96  shah collections  ₹227  77% off
97        JUST STYLE   ₹99  83% off
98              ETRG  ₹209  73% off
99      Silver Kartz  ₹265  77% off

[100 rows x 3 columns]

# Q7)

In [198]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [199]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART"
driver.get(url)

In [201]:
Rating=[]
Review_summary=[]
Full_review=[]

In [202]:
start_page=0
end_page=15

In [204]:
for page in range(start_page,end_page+1):
    title=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    title[0:4]
    for i in title:
        titles=i.text
        Rating.append(titles)
    review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    review[0:4]
    for i in review:
        reviews=i.text
        Review_summary.append(reviews)
    Review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    Review[0:4]
    for i in Review:
        Reviews=i.text
        Full_review.append(Reviews)
    
    
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        if nxt_button.text=='Next':
            nxt_button.click()
            time.sleep(5)

In [205]:
import pandas as pd
iphone=pd.DataFrame({})
iphone['Ratings']=Rating[0:100]
iphone['Review']=Review_summary[0:100]
iphone['Full_reviews']=Full_review[0:100]
iphone

,Ratings,Review,Full_reviews
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing phone with great cameras and better ba...
2,5,Highly recommended,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Perfect product!,iphone 11 is a very good phone to buy only if ...
4,5,Brilliant,It’s a must buy who is looking for an upgrade ...
...,...,...,...
95,5,Perfect product!,The Best Phone for the Money\n\nThe iPhone 11 ...
96,5,Worth every penny,Value for money❤️❤️\nIts awesome mobile phone ...
97,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
98,5,Wonderful,It’s been almost a month since I have been usi...
99,4,Nice product,*Review after 10 months of usage*\nDoesn't see...

# Q8)

In [206]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.flipkart.com")

In [207]:
search=driver.find_element_by_xpath("//input[@class='_3704LK']")
search.send_keys("sneakers")

In [208]:
button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
button.click()

In [209]:
Brand=[]
Product_Description=[]
Price=[]
discount=[]

In [ ]:
start_page=0
end_page=2

In [210]:
for page in range(start_page,end_page+1):
    title=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    title[0:4]
    for i in title:
        titles=i.text
        Brand.append(titles)
    review=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    review[0:4]
    for i in review:
        reviews=i.text
        Product_Description.append(reviews)
    Review=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    Review[0:4]
    for i in Review:
        Reviews=i.text
        Price.append(Reviews)
    Discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    Discount[0:4]
    for i in Discount:
        Discounts=i.text
        discount.append(Discounts)
    
    
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
        if nxt_button.text=='Next':
            nxt_button.click()
            time.sleep(5)

In [211]:
import pandas as pd
sneakers=pd.DataFrame({})
sneakers['Brands']=Brand[0:100]
sneakers['Product']=Product_Description[0:100]
sneakers['Prices']=Price[0:100]
sneakers['Discount']=discount[0:100]
sneakers

,Brands,Product,Prices,Discount
0,inklenzo,Walking Sneakers For Men,₹499,50% off
1,bluemaker,casual for men (blue 07) Sneakers For Men,₹521,47% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
3,Robbie jones,Combo Pack of 4 Latest Collection Stylish Casu...,₹399,60% off
4,World Wear Footwear,Combo pack of 2 casual sneaker shoes for men S...,₹474,76% off
...,...,...,...,...
95,Hotstyle,"Casual Loafers, Sneakers Shoes for Men Pack of...",₹199,60% off
96,Axter,"casual , Partywear Sneakers Shoes For Men's an...",₹299,70% off
97,LeatherKraft,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,₹299,70% off
98,Chevit,168 Smart Red Lace-Ups Casuals for Men Sneaker...,₹799,67% off
99,Edoeviv,Combo Pack of 2 Casual Loafer Sneakers Shoes S...,₹499,37% off

# Q9)

In [84]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.myntra.com/shoes")

In [85]:
button = driver.find_element_by_xpath("//ul[@class='price-list']//li[2]//div")
button.click()

In [86]:
button = driver.find_element_by_xpath("//li[@class='colour-listItem']")
button.click()

In [87]:
url="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0"
driver.get(url)

In [88]:
Brand=[]
Product_Description=[]
Price=[]

In [89]:
title=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//h3")
title[0:4]
for i in title:
    titles=i.text
    Brand.append(titles)
Brand[0:4]

['Nike', 'Nike', 'Nike', 'Nike']

In [90]:
review=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//h4[1]")
review[0:4]
for i in review:
    reviews=i.text
    Product_Description.append(reviews)

In [91]:
Review=driver.find_elements_by_xpath("//div[@class='product-price']//span[1]")
Review[0:4]
for i in Review:
    Reviews=i.text
    Price.append(Reviews)
Price[0:4]

['Rs. 11931Rs. 15495', 'Rs. 11931', 'Rs. 8236Rs. 10295', 'Rs. 8236']

In [92]:
len(Price)

79

In [94]:
import pandas as pd
sneakers=pd.DataFrame({})
sneakers['Brands']=Brand[0:100]
sneakers['Product']=Product_Description[0:100]
sneakers

                  Brands                              Product
0                   Nike           Men React Infinity Running
1                   Nike        ZOOM FREAK 2 Basketball Shoes
2                   Nike            Men JORDAN ZOOM '92 Shoes
3                   Nike          Men AIR ZOOM VOMERO Running
4                   Nike           Men AIR ZOOM Running Shoes
5                 ADIDAS         Men SOLAR DRIVE 19 M Running
6                   Nike            Women REACT Running Shoes
7                   Nike          Men JORDAN DELTA Basketball
8                   Nike       AIR ZOOM PEGASUS Running Shoes
9                   Nike            Men JOYRIDE Running Shoes
10          Hush Puppies    Men Solid Leather Formal Slip-Ons
11                  Nike       Women PEGASUS 37 Running Shoes
12                  Nike         Women AIR ZOOM Running Shoes
13                  Nike         Men KD13 EP Basketball Shoes
14                  Nike         Women AIR ZOOM Running Shoes
15          Hush Puppies    Men Solid Leather Formal Slip-Ons
16          Hush Puppies      Men Colourblocked Driving Shoes
17      ADIDAS Originals             Men NITE JOGGER Sneakers
18          Hush Puppies         Men Leather Slip-On Sneakers
19                  Puma        Men SPEED 500 2 Running Shoes
20      ADIDAS Originals               Men Superstar Sneakers
21          Hush Puppies           Men Solid Slip-On Sneakers
22                  Puma          Women Zone XT Running Shoes
23                  Nike            Men AIR MAX VG-R Sneakers
24                  Nike        Women AIR MAX VERONA Sneakers
25          Hush Puppies         Men Leather Slip-On Sneakers
26      ADIDAS Originals       Men Nite Jogger Fluid Sneakers
27                ADIDAS       Men ALPHATORSION Running Shoes
28          UNDER ARMOUR         HOVR Guardian 2 Sports Shoes
29                  Nike            Men JORDAN DELTA Sneakers
30          UNDER ARMOUR           HOVR Sonic 3 Running Shoes
31                  Puma                    Men Running Shoes
32  Heel & Buckle London           Men Leather Formal Oxfords
33                  Puma          SPEED Orbiter Running Shoes
34          Hush Puppies                 Men Textured Oxfords
35                ADIDAS            Men Gametalker Basketball
36                 Ruosh                   Men Formal Brogues
37             Cole Haan                   Men Solid Sneakers
38          UNDER ARMOUR       Men HOVR Sonic 3 Running Shoes
39          UNDER ARMOUR            Men Liquify Running Shoes
40                  Puma                    Men Running Shoes
41        Tommy Hilfiger                   Men Solid Sneakers
42  Heel & Buckle London                  Women Leather Pumps
43                  Xtep                    Men Running Shoes
44                 Ruosh       Men Solid Leather Formal Monks
45          Hush Puppies                  Men Leather Loafers
46             Cole Haan          Men Wingtip Oxford Sneakers
47             Cole Haan  Men Traveller Leather Penny Loafers
48               Saint G           Women Leather Heeled Boots
49                 Ruosh                  Men Textured Derbys

# Q10)

In [121]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.amazon.in/")

In [122]:
search=driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
search.send_keys("Laptop")

In [123]:
button=driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
button.click()

In [124]:
button = driver.find_element_by_xpath("//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']//li[9]//div//i" and "//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']//li[10]//div//i")
button.click()

In [125]:
url="https://www.amazon.in/s?k=Laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A16757432031&dc&qid=1613650225&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_10"
driver.get(url)

In [126]:
title=[]
rating=[]
prices=[]

In [127]:
name=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//span")
name[0:4]
for i in name:
    names=i.text
    title.append(names)
title[0:4]

['Dell XPS 7590 15.6-inch UHD Display Laptop (9th Gen Core i9-9980HK/32GB/1TB SSD/Win 10 + MS Office/4GB Nvidia Graphics), Abyss Grey',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'ASUS ROG Strix Scar 15 (2020), 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2070 Super 8GB Graphics, Gaming Laptop (32GB RAM/1TB NVMe SSD/Windows 10/Black/2.35 Kg), G532LWS-HF079T',
 'HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Screen Gaming Laptop (16GB/2TB SSD/Windows 10/8GB NVIDIA RTX 2080 Graphics/Shadow Black), 15-dg0019TX']

In [128]:
rate=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']//span[2]")
rate[0:4]
for i in rate:
    rates=i.text
    rating.append(rates)
rating[0:4]

['13', '2', '3', '15']

In [129]:
Review=driver.find_elements_by_xpath("//div[@class='a-row']//a//span[1]//span[2]")
Review[0:4]
for i in Review:
    Reviews=i.text
    prices.append(Reviews)
prices[0:4]

['₹2,85,000', '2,85,000', '₹2,68,325', '2,68,325']

In [130]:
import pandas as pd
Laptop=pd.DataFrame({})
Laptop['Titles']=title[0:10]
Laptop['Ratings']=rating[0:10]
Laptop['Prices']=prices[0:10]
Laptop

                                              Titles Ratings     Prices
0  Dell XPS 7590 15.6-inch UHD Display Laptop (9t...      13  ₹2,85,000
1  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...       2   2,85,000
2  ASUS ROG Strix Scar 15 (2020), 15.6" FHD 300Hz...       3  ₹2,68,325
3  HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...      15   2,68,325
4  Lenovo Legion 7i 10th Gen Intel Core i9 15.6 i...       2  ₹1,99,980
5  ASUS ZenBook Pro 15, Intel Core i9-8950HK 8th ...       4   1,99,980
6  ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...       1  ₹3,49,400
7  ASUS ROG Strix Scar 15 (2020), 15.6" FHD 300Hz...       2   3,49,400
8  Dell G Series G7 7588 15.6-inch FHD Laptop (8t...      23  ₹2,62,990
9  (Renewed) Dell G7 15 Gaming 7588 Laptop Intel ...      33   2,62,990