In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Q1) & Q2)

In [18]:
driver=webdriver.Chrome("chromedriver.exe")

In [19]:
driver.get("https://www.amazon.in")

In [20]:
val = input("Enter your value: ") 
print(val)

Enter your value: phone
phone

In [21]:
search=driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
search.send_keys(val)

In [22]:
button=driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
button.click()

In [23]:
title=[]
ratings=[]
prices=[]
no_of_rating=[]
availability=[]
link=[]

In [24]:
name=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//span")
for i in name:
    if i.text is None :
        title.append("--") 
    else:
        title.append(i.text)
title[0:4]

['Samsung Galaxy M02 (Red,3GB RAM, 32GB Storage)',
 'Lava Z1 (2GBRAM, 16GB Storage) Denim Blue',
 'Redmi 9A (Nature Green, 2GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor',
 'Redmi 9A (Nature Green, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor']

In [25]:
rate=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']//span[2]")
for i in rate:
     if i.text is None :
        no_of_rating.append("--") 
     else:
        no_of_rating.append(i.text)
no_of_rating[0:4]

['863', '21', '13,912', '13,912']

In [26]:
Review=driver.find_elements_by_xpath("//div[@class='a-row']//a//span[1]/span[2]")
Review[0:4]
for i in Review:
    Reviews=i.text
    prices.append(Reviews)
prices[0:4]

['₹7,499', '₹4,999', '₹6,799', '₹7,499']

In [27]:
a=driver.find_elements_by_xpath("//div[@class='a-row s-align-children-center']//span[2]/span[2]")
for i in a:
    if i.text is None :
        availability.append("--") 
    else:
        availability.append(i.text)
availability[0:4]

['Tomorrow, March 1', 'Tuesday, March 2', 'Today 9PM', 'Tomorrow, March 1']

In [28]:
u=driver.find_elements_by_xpath("//a[@class='a-link-normal s-no-outline']")
for i in u:
    link.append(i.get_attribute('href'))

In [29]:
#locating Ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratingd link
        rate.click()                                                      #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")#locating the rating
        ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException   as e:
        ratings.append("NO rating")#appending the No rating if no rating is there

In [30]:
ratings

['3.7 out of 5',
 '3.5 out of 5',
 '4.1 out of 5',
 '4.1 out of 5',
 '4 out of 5',
 '4 out of 5',
 '4 out of 5',
 '2.8 out of 5',
 '4.1 out of 5',
 '4 out of 5']

In [31]:
import pandas as pd
df=pd.DataFrame({})
df['Name']=title[0:10]
df['Price']=prices[0:10]
df['Rating']=ratings[0:10]
df['No_of_Rating']=no_of_rating[0:10]
df['Availability']=availability[0:10]
df['Url']=link[0:10]

In [32]:
df.to_csv('Product.csv', index = False)

In [33]:
df

,Name,Price,Rating,No_of_Rating,Availability,Url
0,"Samsung Galaxy M02 (Red,3GB RAM, 32GB Storage)","₹7,499",3.7 out of 5,863,"Tomorrow, March 1",https://www.amazon.in/gp/slredirect/picassoRed...
1,"Lava Z1 (2GBRAM, 16GB Storage) Denim Blue","₹4,999",3.5 out of 5,21,"Tuesday, March 2",https://www.amazon.in/gp/slredirect/picassoRed...
2,"Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)...","₹6,799",4.1 out of 5,"13,912",Today 9PM,https://www.amazon.in/Redmi-9A-2GB-32GB-Storag...
3,"Redmi 9A (Nature Green, 3GB Ram, 32GB Storage)...","₹7,499",4.1 out of 5,"13,912","Tomorrow, March 1",https://www.amazon.in/Redmi-9A-3GB-32GB-Storag...
4,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)","₹8,799",4 out of 5,"11,390","Tuesday, March 2",https://www.amazon.in/Redmi-Sky-Blue-64GB-Stor...
5,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage)","₹8,799",4 out of 5,"11,390","Tuesday, March 2",https://www.amazon.in/Redmi-Carbon-Black-64GB-...
6,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","₹11,990",4 out of 5,"3,009",Today 9PM,https://www.amazon.in/Oppo-Fantasy-Storage-Add...
7,"Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fin...","₹5,004",2.8 out of 5,"1,337","Tuesday, March 2",https://www.amazon.in/Panasonic-Storage-Finger...
8,"Redmi 9A (Sea Blue, 2GB Ram, 32GB Storage) | 2...","₹6,799",4.1 out of 5,"13,912","Saturday, March 6",https://www.amazon.in/Redmi-9A-2GB-32GB-Storag...
9,Nokia 105 Single SIM (Black),"₹1,131",4 out of 5,"14,529",Today 9PM,https://www.amazon.in/Nokia-105-2019-Single-Bl...

# Q3)

In [29]:
driver=webdriver.Chrome("chromedriver.exe")

In [30]:
driver.get("https://images.google.com/")

In [31]:
val = input("Enter your value: ") 
print(val)

Enter your value: fruits
fruits

In [32]:
fruits=[]

In [33]:
search=driver.find_element_by_xpath("//input[@class='gLFyf gsfi']")
search.send_keys(val)

In [34]:
button=driver.find_element_by_xpath("//button[@class='Tg7LZd']")
button.click()

In [37]:
images = driver.find_elements_by_tag_name('img')
for i in images:
    fruits.append(i.get_attribute('src'))

In [38]:
button=driver.find_element_by_xpath("//input[@class='mye4qd']")
button.click()

In [39]:
images = driver.find_elements_by_tag_name('img')
for i in images:
    fruits.append(i.get_attribute('src'))

In [40]:
fruits[0:4]

['data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAGQAZAMBIgACEQEDEQH/xAAcAAACAgMBAQAAAAAAAAAAAAAAAQUGAgMHBAj/xAAxEAACAQMBBgQFAwUAAAAAAAAAAQIDBBEFBhIhMUFREyKBkQcUMmFxQsHRI1KS4fD/xAAaAQEBAQADAQAAAAAAAAAAAAAAAQQDBQYC/8QAIxEBAAICAQQBBQAAAAAAAAAAAAECAxEhBBIxUQUTFCMygf/aAAwDAQACEQMRAD8A7OMB4KhDwAwEAwAQDABAMQCAYgEAABmAAQADHgBBgYNpc2l+QFgCJ1PX6Onavp+mStritWvm9yVGKaglzcuPL7kusMkWifCzEwxAywJn0jEBiAQDABmSENEQABD7Vag7DTGqUsVq8vDg107v2JM6jbkxY5y3ilfMvBr+0vgynbWHGcfqq9vwUPUdfu6UpVbmlceVtxqVG8N/n9i0WFezdv5op4eHk811rGj283u03Nx/tk+f24mS8zePL0WDFXDHZSnPtV9C1W51nUatwqznWpW8adKcn5YqUm5S9FFf5EjdbR3ujtSVSVVrquGf+9CN1bXrerJfLx3cPh1IK4vK11VcX584bfQ+KRNfEt+Ppaa3lj+OpbJ/EKy1a4p2N6pW11U4U3P6aj7J9y8M+Zb+xlCi61KpJ1YPfeOHsd3+Hus1Nc2WtLq4ebiK8Oq+8l19TVjvviXQ/JdHjxfkxeFhYDYjldSQABRkNGI0QMpvxBlKUaUF+mDkvf8A0XLJVtubZ1LelVSyllP9jjy81bPj7xTqKzLkd5q1zbxmuSfBkJU1KtKEt6Xmb5li1G3i97yrtghKljSllKGOL5GTT18549IqdzOUfqeSZsK2aEF+pcGsHllZRjLglJHssrfwYtvmyw4r37oeyK36e60n04nVPhVbfKbPSpdFNHLKLTqKPLj3O2bIWnyeg26axKot9nNi/Z0/yc9uLt9ymWIbEaHQkwBgAwEMANV5bQvLadCqvLJezNoZCxOuYcj2i0qpaXM4Tj1KxcUvDclwx3OzbS2VK/tZKaaqRXlmkcR1+/nZV50ri2r0pxbWZU20/umjLekxPD0PS9ZXJXVp1JSnGOcpe55q97Cmmt5ELW1dVZYp7/on/BssLO81OuoUae4pPjOrmKR89stn3GGsc2hadh7Spru0NOjjFtS/qVpdFHPL15He4V6aioxwklhLsc72W0y10TTY0LWe/Ul5qtbk5y/jsidpXVSLXmZppXUPP9d1P18nHiFq8VPqG+RFvcSkj2wm2jk0wvXvAaVIAbbx5MR5IGDFkTYGurTU1xIq+0W1u1itRhL8ol2xBdqZX2J02Tco0Ixf2RoWxlvB5g5IvLimYuCJpe+ys2ehK3SSlJokaWnRj0JTdRkolSZ28lO2UehvjDBtwGCowwBlgANg0ICBiYABiAAANiAAAYAAAAFCAAA//9k=',
 'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAGQAZAMBIgACEQEDEQH/xAAcAAACAgMBAQAAAAAAAAAAAAAABQQGAQIDBwj/xAA9EAACAQMCAwYEAwYDCQAAAAABAgMABBESIQUxUQYTIkFhkRQycYFSocEHI1OSsdEVQvAzNENiY3Ki4fH/xAAaAQACAwEBAAAAAAAAAAAAAAAABQIDBAEG/8QAKBEAAgIBBAEDAwUAAAAAAAAAAQIAAxEEEiExQQUTUSJxkRQVYaGx/9oADAMBAAIRAxEAPwD3BeQpbZ8Sd4g80fh21MuxXPLI6YI3z5/WpV5I8Vo8sRAZAG3Gdhz/ACzSjRdxapYWSRUXLJ3WlguSdBGTy8juRnkc0Qj9WDKGUgg8iDzrNJeH8QgV9Rfu453cojeTDB2HrnO222fPJYfHwf8AU+8T/wBqiXUdmElUVpHLHKuqN1Ycsg1vUswhWkjiNdR5VvS/idwUBSNyCFLEgZ38h06+2+1EJluK20bhZ5YowxwCZRsc43HMVtd8Rjt+6RNMs0zhIo1cZbqfoBkk+lee8b47NDdaIW7tJUDGTWTIw8snn5k48s+marsFxfNciTh928ZUkllkIOcYzuD6+9ZW1aK22NqvSLrKxZnAM9wzWa8m4D224hZ36RcRuGubfWFkMmMqvInOPLn9q9ZHKrarVtGVmTV6O3SOFs8znJzook50VbMk2Ayu4ztSUrLbBoQGFwsRVCQziVBsOWeoz0Pod3a/KKW8f0/4ewZVOp1XJHLJwSOhxneoWOEQsfE6Bk4imyurOMgw47ybBMrLu5wNif05UwaVV2J8WNwByqrXbk3bxtgrNGDGq7DUhJxt5lTkf9tOLPLoDq7w5xqPM+v32rxepdwvud5/qbNu1tpjA+MiSFtEo5Njn6HqKZWNx8TAHK6WBKsvRgcGlUYWJCzNpUbsWOABXbhUx725eNGaGTQ8ZAPjbGGIzjbAXfkd96Zei32s5VusSm1QBG2RSi/4fePa3Hd3CtK6nBMeDnG2PFge1c+IXSQXyXKtJG0YCypoLGRc8gBnlnOR1FOIZY54hJC4dG5MpyDXo8gnEpHHM8o4nJ3sPxF3bxmRVwOoGcYPQjcfalFk0zT6LSMs8nJVGo77favVuL9nLbiErSo5gkYeLSMhj1I6/f3pHJwSXsyv+IW8Hx0aArLDAmJFU7613OSMcuhPSl12mszuE9HpvVa0o2AfV4HiJE7HIsYN/drCZvD8mo7/AJZq/Q3dwsBfvIZURc62yucDrvVSk7adnp4cuLptjhe7AP0znH51rHe8Q7Rynh3D4VtrBlxLL8xCn2H2/MismnOo93A4ExaldVf9V4wB88fiX2KQXEMUyA6ZEDDI8jvRQkaQxxxRjCIoVR0A2op9FE7L8oqFxaxa/txEswiw2rJXUDsfLI61NXkKzUXRXUq3RnQSDkSiXfB7pT3VzBNscpLboz7jkwwDg/Ue4ptwjhN3KplvZHgcKqp3Xh1AZ8RQ5AJyNvSrLRWKr02ivIxkfBltl72YJi1ODwa1e5klumU5AmYac+R0qAufUitlk7zvH0I0eo6mfy6YHn+W+a68QuhbLECMmaTu1OcAHSTz+3viuPD57VQYgiwyRrnSzZ8I8wx5j+nnWhPZrb21wD8Srk8xLxIs19FageFIO8lOebMxx9vCcfSpvAJO5uHti20id4o9VIDf1WoUUjXEj3U3z3J1KpG6JyVfbc+paiSKQrHJFL3U0T6kkAzg9CPMEbEf2zSE6pU1pt8dSfYAEtdFQeFX/wAZCRIndzxnEsec4PkQfMHyP6g1Or0aOHUMOpX1Et32V4DeXT3Vzwq2eZzlm0Y1HqcczTW2toLWJYraGOKMclRQAK60V3Aki7EYJnOTnWKzJzorsjN15CsO6oMsQBkDJ6k4Fcbq4+FtjLoZwNI0rz3IG3vUPiE0N3BHHHKhSRjqx5AA8+m+miEaUUo4bxFxohvGTJYxh85w4x4SfXIIPn9ebeiEhcXszfWEkKECX5oyfJhypHYNFxKwBvY0dhswI2ORz9Dg7/erQaqTRDhd9cW0h0QzFjGxOAASSD9Bq0+mF60s9RqJAde5JDgyU9sJCRazYdBtHKxI9+Y+u/0qN3+nVHJ+7dSNaNjK/wDr1qTDaSJKWZlJzscEbdMe/wBq040hKQYDNcFtAVManXmRj05//aSlS4KkfV/stAAORO3BZDJxIMgwjQvnq2GXGfplverDS3hNoYIw7x922nSqnGVH2+g9qY16LQ1tXQqv3K3ILcTNFLrniWBOtuneNFhWby1E4AHU5+3lmpVlI0lnA8hyzRqWJ8zjetchN5OdFEnOsUQml3D8RatHtkgEZGRkbj8wKQFUEUMriIxqoK6GPeRKSCQu2WH/AC/12FWZflFQ7iykMhktbhoC3zLjKk9cZ50QlI4rx6z4bExkGu4nh8AgUeNTkLIT5Y8X35bAVyP7TblpcxcHTuM41NcHJ/8AHFUvtfctLcR3AmUPcIZnz5ZYgDA89jjOKqj3TwuJHTUCSAzDOSPLp5j3q0BR3GdenpWsM/M+hey/bCx7QyyQRo9vcxjJjcghh1Ujn+Rp3eWVvexd1cxB1zkeRU9QRuD9K8P7Mx3V+0FzYW8uuFwwmUaSu+4BH+utex2PGIZbePv9YlCgSaUJAbG/KoXCteMzFYgzlZxPZ9kXu7bid7DF/DBQgfTw5X7Gp1tZWfDYndERPDmSVsAkDzJ6c/SpUMsc0YeJw6HkQaQdsrlora3hViveSamx5hcHB+5HtWZlrqU2AdSFaF3CDzNrvtNDCGaKLUi/5nbTn1AwfzxSo9s4Ll1hnjaCNs6pYXLZwNhsARvjcZ/UL7zLWrxj5nXBbGc1Xe5eOTuE8ZA54xpNJv3S0tx+I+o9LodTuM9KKL3ZnhKrbsqi2RBu5xsQNuu3l5mtuGS3NzJbxkqkMKBysewK4KqOpGxPlnFVXs8zJEYbiTYACMMuUOonUpODtsPI1eeGRRxwEo6SMxy7oAAT0x5AcgKdUXragYRHdV7Tlc5x5kiTnWKzJzrFXSqdF5Cg8q5LcQYH76P+YVn4iD+NH/MKITwv9ovCZuGcfkDhktZT3kLOfCckkqp9CSceWaq/CIrW843ZWd+7/ASTqJBHkHB9eY8t+lfSt7Fw+/t2t71ba4hbnHLpYexpRH2V7KxTrOnDOHiVTkNgHB61InImz9XlNpEScTgWG1S3sAkdqijRBCq4PPmORGMUqF4OFYubthaR9G5ucYAUD/W1M+Jfs+s5pmfhnaG/4fG3/AjuSUHXG45+ua5cM/ZjwGC4+I4pxCXiMm20kgQH64Oo+9LjoNzZZ+PtLV1Var1zGv7Pr+Xi6X/EFR0spJFSDUPnKjDN79P0pt2p4a/ELAdyCZYm1AAbkeePyPrjHnTC2+DtYEgtzBFDGoVEQgBR0Arr8RB/Fj/mFbWRSuzHHUxe4d+9e559GxaP8TfLnfGRsRUY3CQx65E0sdtXRs8s+3L9av8Ac2vC7qTvLiK0kkxjWwUt786V8Q7M8EvIljRltgpz+4cDV9R5/XnsOlJ39J7KmMV16OQLBgfxKal1bHwQvJO7clU5boduX3q8dlJJZre4d1ITWFQE5xgDI+x296j2HZnhNof941j8OsAH675p/FJaxRqkbwoijAVSAAKv0ehaltxlWr1FLjbXn7mbyc6xXN7iDP8Ato/5hRTOL58ocC4LacStZHmDIySFQY8csKfMHrT6x7HcKkMolEzfh8QGnxAbYHr55ooq4iRkHtR2W4dwbhqT2/eySNKUzKQcD7AdPzPpiqd2n4F9qKKAIQ7tPwL7Ud2n4F9qKK7iEO7T8C+1Hdp+BfaiijEJgxpj5F9qlrZQm7WHHhJG+BncZoormJ2RmiQRq2hclSeQ6kfpTz/AbTQG1Scgf8v9qKK4YRPdW0UNw8aqCFOASBRRRUsTk//Z',
 'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAGQAZAMBEQACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAAEBQADBgIHAf/EADcQAAECBAMGAwYFBQEAAAAAAAECAwAEBRESITEGEyJBUWFxgZEUI0KhwfAHMlKx0RUzouHxkv/EABoBAAIDAQEAAAAAAAAAAAAAAAMEAAIFAQb/xAAwEQABBAEDAgMHBAMBAAAAAAABAAIDEQQSITETQQUiUTJhcYGhsfAUQpHRI8HhJP/aAAwDAQACEQMRAD8A9wiKKRFF8jqikRRZLaXbqUos4qSal1zMwggOcWFKCRe17HPMcoRnzBG7SBZQXzNYaVVI/EWlTiw1PoVIuHRS1Ym//Q08wIkWcx2ztl1szXLXoWhxCVtqSpChcKSbgiHQbRV1HVFIii+RFFIiikRRSIou44opEUXyIopHVF4/+JlKeldoXJ0AhibAUhfLEAEqT8gfOMjLYWyX2KzcphD9QWLmXNycKtOohbpeiEH1sU62U2xn9n3QlpRmZEm7kspWndJ+E/KGIZnRGuyZjmLfgvaqLV5Ot09udp7uNpeRByUhXNKhyMakcjZBbU60giwj4IuqRFF8iKKRFFIii7jiiCnKghglDY3jv6RyheXIazYblGjhc7c7BJ3a6rh47XVawTa3WM5/iYHf6J5uF7l3LVZx26kLVYmyRkSrygsWb1BYKpJihuxCHrlZopkTLbRlkS7gyvqT1AGd+40g36hjxpkCTnhY1u5Xi20L1LROKFLmpmZYzwqdZ3ZHbXP0HhC5a39pWU6Jp4KXyriVL/tKSRocoG8e9D6YG9r1v8NZKValn36ZVy5PuJG+lVoCUi2lxmTz4gYaxmAAljt05j1XNrXvVpFPuKvu2U3sHW14knpcfmB8rd4ZE2jaSgmKKMlqlJTTIelpppxs/ElX79II2VjxqBVg13oigQoXSQfCLggqqkdUUiKJTX6r7Gjcsmzqhmf0iMvxHOGO3S3kp7DxeqdTuEgZmFrSbrIP6ox4pnPbZO60nxgHhDONzC12YLKlLBKi4MRHhewB75+BjrOTsHE+vZCl6hA0GgEu2iqjVLpLai+VvK4UIAKQVcz4D+I6I2zABpNfNUyMk4zdRG54XnM2t2ZUXph1bq1DJaje/b/UPMjNLzMj3PdqcbJQeYyUMu8X0KulfCU7wJbCiVkBKQLknpFiz1XRHa9D2WozdLQmbqtxMqHBLNqzSOqz9P8AkAdLHCNRK18Tw1xNkLWF9LiEFtSGQOTYv62ijpQ8Ag18FpCEMsVaGp7bEpOTDm+ClTCytYbxXxdLgaZaRSJ4D/M6/ha50KBLR/NK01dUqv3NgQeEoJz8cvGOOzTEfLz+cooxBIN1oqJWmqkC2eB9Oqf1DqI1cLPZkeU7OCzMrEdBv2TaNBKLzioTi5medeJIuom1+UeFypzNO569VBCI4g1dsr0HTn6xaEbgKr2q1vevqIl0KdKxhNhr9P8AsMDzexvaG7S0eY0l1e2PqdXQ04hIStkEJDi/zX+uUN4rJ2e0zb6rL8QbFPRY7cfwse/svWG1nfSTyUpNjhTceOUOmZo5WSMaYmg1LxR3VFSVrSjizvmfSAyZjGjbdaOP4Hly7uGke/8AoLUUimSlJSHWWy7NEW3rouR1sOQ+cZ784uPuWvjeFxQb8n1TSWRZWNZJWc1qha3SOsp0gAUEQ8+Uo1KstbwaRxa2lRsYJQjk0rFdKiO5zhUyOuwUcQtrdV4is3JvfrFQ0uRKAVkvMOyb6H2ThWg4kmLt1xPD27EIb42StLDwV6bS51FQkGZpvILGY6HmPWPZ48wmiEg7ryM8RhkLD2Xm7oKXVC189I8M9pa4gr1rTbbWgptGQlgTFTXu2yOFBOZjVx8Ly9SY036rKnzCXaItyinasJY7insIQ0nLFbM94tJ4h0j08doACC3F1+aU2UC/UptKwfaV9f8AVoWkzZg4U/8APgmGY0ZHsqyVrzqFgTSN4gnMgZgfWDQ+JvBqUWEOTDFWzYqqv0WTqUv/AFKQA3yczb4ragwfJhY+MzQnZEw8uSF/Sk4WYacAVn4RjLZc0lHMkBNr2vqennDsIA2SzwhZh3GSrIczAZXaijsbSHKoDSLSIZ/Kb3sc9YaiaKQXoh1tJRdOG/aGHxgtsIYcb3RFJr8zSpdcuygqSVlWumQFvlHMbOdjsLK7pfKwG5D9a0MnS2pVx6fmk3SyThSeo5w3+lja908nDVny5LpA2JndCvPPT6969mnVCeQjPldJkuD3cdkRrGxDSFSUlKt2QTlqecB0lrtBRBvuqZsYVgDpprAphTqV2GwhSeIEnnbpHADyVdNNnJktzCpdahgXoO4jT8Nk0yGInY/dJ5bLbrHIWS2jH9PrbrXwKOIQq6Ki5voVtYknUhaSumJm7fLLIRQPLQiOj3ValZknMwO7VgFxiiK1ItldrYdQbC2ukNRu4pBcLRAe4NQO14OZPKhad0KpGNRVgJ8oQdZNhEqlu606tCmpdKsKUoxKudTpnGtnvcNMQNbWfntuvO4rAbclzJwggJJt9iEYbaKATTt1a0zv5jDkM7qPMJ5wSOEyy1x/XdUc8MZaqq0s0y43Yr4xmTytBsnEjjII7rkErnA32S04cJCVEj4Qk2JhMtbVX/1MAlXUNAeqTSknNBJOfK1o7gjXkNI7b/RVyTpiIWV/EZ4e3JeB0fwXHgf4g0R1zyJ3G8kDUvp82FJAJgEsdFPtcCExDibawtRXV83qU5mO6SpsiWZaaeCcEq7hOQUU2HzgoifXCCZoxyUeqlTbUkqadwhANiMVzBXwvZHrdxwgty43ydMJlSaO9Nym9Qm4xW0h/Ewy+O0nlZYjk0p1X8QnEKJs3u8s+5vAvEw4zgniv7/N0hiV0z62l4J+IlDadM/4hIX+400JmvTlcGbcZcDkucOWYPSLR5D2Sa41DE1zachnHlvvFx9fGrlne0FlnL36nndRsekU1VTIAxLSoJOYSEff3eFZWhpJH0RWE8FMqUPZJJ2ecJUSjCykDl08zD0B6MBnPJFBLTf5JBGOO6xe0ez9crC2ky8kocZcUp1QQBlYa58+QiuFEY7LxVhPS5EQaGtN0iKV+H88hKVz0+yjPiQwgr/yNv2hh7A4WEL9dWwCey+zdKlllM09MOnDcYlhI+Qv84HHHj6iH/dVfmZLhbPsj22Kcy7ikZVlISLBYTn6mOSuj11ENghapXN/yOKjxxkbzW/LT1immyNS63YbLpttU1TXpdIBKnAlI7m0MhnUgLBv5h/pULhHMHn0Wqp0oiRk25ds5IGZ6nmY3ooxGwNCyJpDK8vPdJ6yz7QymaSFXaulaRr9iMHNb1oxMOW8j89E/jP0O0HukbqiUi9uwMZEpLmhaDRuh3VAthJyyPlAr2Fq4CrWQlKDfPO8Fe4Bo3UANqyTlFzTiVPpwy7eRJFrjoINDCX0+U00IUsgaKbyVJ+qCYf3UubNMWsBzP2IFm5BnoDZvYJjHxdDbdyU6MzvZNp9BzyBy0hvJfrx2SsO42Kz+npkLCh1zar8KuWRB1hLqvJq0ZsYpDP8eAWthNjDJbs1o7Ig2USvC7hSNc7aX+7fOCgU8tAXCNrXxx0ISVKvh7DQR0+XcqoFplTwJZuWSvLG7jPfmPpGliRaQxvvJSU77Lj8lpA4CLxsrNXEw04hSnWE4sX5kaX7jvCU0T2EyRC/Uevw96KxwI0uSWakZKb/ALa9wvQotb1EY8sOLNsDod6cfdPxzSx87hCf0NSLlU22OnDl+8BHh4j3dIPz5ov6y+Grhxqj09Bcmng6sG9up8IgGFF5idRXQciU00UFmdodpS8goYOBsam8LOdLku8/HYJ6HHZCLPKzEhV8M0Qo+7Vlc9esMvwS6K+6uMoa6PC3FDn0A7p43bcyz0hTFIY8tf7J2KplxFw1N5TCaYWxxN3UyUGyh8J7waXFdjHU3dtfwlo5Q/nYoJ1aSoFBKrZ5cwIEXNL9uyNWyi3LqSpBsbkG/wB/d4O59lpC5XIK7k0Ln5goJUltJxFaTp284LCx08lcBCleIm33Rbj6XZ8YD7toYR0jdx2hxMnyH571lynbSnrMxdsZw2lSE4VpEVUrqsh7WjhOFY0PSATY8cwp7bR4pjHwVjqrTK01cNLCx3EZcng0LjYC0Y84eizE3IV9RIKWh3wk/WKt8JjajHOtAHZyovKvNLUvtaw9IbZiNZ7IQnZF8lFtbMOWAwH0g3RQzMExl6XOSbYBClIGgOohWbAa/cbFMxZukUU1ka6qU91NC6dBfIiEiMnGBBFtVnxxTeZpopok0yeSlSHA2eqCB6jSKf8Ajl3PlP8ACFeRFtyoqXpbSit14OC2ilj6RfpYl7HV+e5VM0/pSoengtv2amtlCDzSNY0oce21p0t9EtI+jZNlH0qjvrAU6nAD1jQASjnLRNybaEBOG8WQ7R0RcXJSI4oqyAdREXVWpls6oSfKIparMqxruk+kSl2yoGGhohPpEXLKrel2lJOJAiLoJSCpUqUdvjbipCM2RwSBzZynFR92seCrRTosPZEM7/VN6PszTLg7pXrF2sA4QnSvPdamUkJWWSAyylPe2cWQSSUYkCOri6iKL//Z',
 'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAGQAZAMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAAAQMEBQYCBwj/xAA7EAABAwIDBQQHBQkBAAAAAAABAAIDBBEFEiEGEzFBYSJRcaEHIzJSgZGxFEJicpIkNFN0g8HC0fEV/8QAGgEAAQUBAAAAAAAAAAAAAAAAAAECAwQFBv/EACkRAAICAgEDAwIHAAAAAAAAAAABAgMEESESQVEFMXEToRQiIzJSgZH/2gAMAwEAAhEDEQA/APcUIQgAXEskcUbpJXtYxou5zjYAdSoeMYpBhVIZ5g57ibRxt9qR3cF5HtTtC/GpAMSI3LTdlOHHID4DQnqfJRWXRh8iN6NpjHpR2bw17o4JZq+RvEUrLtv+YkD5XWam9M02c7jAW5OWer1PiAzTzWMkjpJHtBcxvCxycExJT0j2m77W46ahVJZMiPqZvqb0zxudaqwJ7OsVUH/VoV3hnpY2crHhlSKqicTa80eZvzaT5ryD7DSkhrZhlPIhdNoIj7L22PekWTMXbPpKiraWvp21FFURVELvZkieHNPxCkL50wx9fhE5nwmrkppT7Toj7XiOB+K9F2U9IrppG0e0MbInk2bVsFmE/iH3fHh4KxXkxlw+BykejISNcHNDmkEHUEc0qsjgQhCABVuNYxT4Th1TVy+sMDR6phGZznGzG9C4kAXVkVgNptisOrNof/SjqZ4ftBacQp2SHJVZCDHfXSxHLy4qK62NUHKTHQi5PSJdfgbK+rE2J1c802UNlYyTLED7rRxAHzPNNSbN4IG5fsMZ77l1/qp8kwBOuqiy1NiuRvzZTk3s068ZeDP4hsPhFR+772ndyscw81ma/YuspS50NRvGjnlC9ANUBxQZbi6jhl2ruTfho94nlRw6ppj66nY8A82hWlBHglQ4MrqWWB/8SCUjyNwtpVU8czTmaLqiqsGjc7stAUqy5P3IpY0PBb4XsPs/XtaYsVxC54NzRgn45dVYy+i/DHj1eJYi0/idG7/FZWibV4dKCwnJzC3mA7RCRrIqo6W0fzHitPFzqZPotX9lS3E0txEwbZ/Gtnxu6HFY62jHClqoyzL+V4Jt+my1LCSwFzcptqO5K1wc0EEEEXBCVbkIqK4KgIQhPAg4jWCnjs09t3DoqCWotc3uTxSYxUl9W6x0BsqqaZ19OC4v1LMlfa0vZextYuNqKfkdmqNdCoskl+a4lebdVHc/QqgkaUYJIf3wtchdxzC1wdCq9z8o1K5bI647kciTS0WzXtdxK5eGG/korZDZGe4IQpMqs7kLSLECybiFnXZoUl3HQpYzlKa2ySKTNRs/iro7QVJ7BNgfdWpBuvOGSWsQtjgVdv4N089tg06hdL6RnN/o2P4MvNx+l9cS3QhC6AzjCV7v2h9+N1WTSdytsdhMWISi2hNx4FU0gsddAuCyKnCxpnUY8k4JnBebpiQvLrAKTlA4/RcuA5KNEspeCNYuCIr5iDa6eDdDpYckmXVOZDJtik8lwHuDrWTrQBpa9+a5ewg3TdEDFL+ZSNdcpokN0KRshGh+STpFjImNeQFaYVVmnnY9v3Tw7wqVsgsCe/gpkTw1wsVNXJwluPYbNKS0z0hjg9oc03BFwUKBgU++w2O51YS1C7aq6M4KW/cwpRcZNEfaGh30QqGjtMFndQshNBa5H/F6Q4BwIIuCsljmGupHmWIXhcf09Fj+qYbb+rFfJoYWR0/kZnXC97oLNeGnJOysBOZvNMuLr3tw5LBa0afXsb56gjkuWnSxFrLptrdAu8rSNEkhNg1w5hcvJ4WSFvauSgkd6ZryMexkjW7vimZdCDyCeLruN+KalN+CdoYch19e9TIJL2F1X5reCegvmuDrySpci9jY4PUvipS1vv38glUrZyhEuHbx/wB55t4aIXRUU2fSjrwZtlkFNmkXEkbZGFj2hzTxBXaFtNJ8MpGXxTZ6RmaShs4e4eI8O9Zeok3T3MlY5kg0c0ixXqCiV2HUmIR7urgZI3qNR4HiFlZPpcLOa+H9i5VlyjxLk8xdUMtcaBc77mCtVXbDRvdmoa10Q9yVucfO4/uqqo2KxhmbcTUkg5dtzT9Fk2em5EX+3Zdjl1PuVW8zc0Bt+JUiTZHaIexDC7+sE0dldqG6too3H+YZ/tMWBf8AwYssqvyR3BzSe5JysApTsA2khAMmGF9+O6mY63mm34djDR6zCqv4RF30Uc8O6L5i/wDBI2wfcgDtONyLX5KzwmkkrKqOGEXcfLqmqXZ7GqyYNjoZYmni+cZAPnr5L0PZzAo8IgOZwkqXjtvAsB0HT6q1i+n2WyTktIZbkxrjqL2yypKdtLTRwR+yxtvFCfQuoSSWkZTewQhCUQEIQgAQhCABIlQgBAhCEACVCEACEIQB/9k=']

# Q7)

In [104]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.digit.in/top-products/top-10-pc-games-7.html")
names=[]
detail=[]

In [113]:
name=driver.find_elements_by_xpath("//div[@class='TopNumbeHeading active sticky-footer']/h3")
for i in name:
    if i.text is None :
        names.append("--") 
    else:
        names.append(i.text)
names[0:4]

['THE WITCHER 3',
 'GRAND THEFT AUTO V',
 'RED DEAD REDEMPTION 2',
 'THE ELDER SCROLLS V: SKYRIM']

In [106]:
name=driver.find_elements_by_xpath("//div[@class='Section-center']//p")
for i in name:
    if i.text is None :
        detail.append("--") 
    else:
        detail.append(i.text)

In [114]:
import pandas as pd
df=pd.DataFrame({})
df['Name']=names[0:10]
df['Detail']=detail[0:10]
df

,Name,Detail
0,THE WITCHER 3,The Witcher 3 is considered to be one of the f...
1,GRAND THEFT AUTO V,The Grand Theft Auto series is a legend in gam...
2,RED DEAD REDEMPTION 2,"Like it’s GTA brethren, Red Dead Redemption 2 ..."
3,THE ELDER SCROLLS V: SKYRIM,Bethesda is known for its massive RPG’s and El...
4,DOOM: ETERNAL,Doom: Eternal takes the insane FPS action of D...
5,FORZA HORIZON 4,Forza Horizon 4 is a gorgeous racing game that...
6,ASSASSIN’S CREED: ODYSSEY,Assassin’s Creed: Odyssey continues the title’...
7,MINECRAFT,Minecraft took the world by storm. It offered ...
8,CALL OF DUTY: WARZONE,Call of Duty: Warzone is a free game from Acti...
9,ORI AND THE WILL OF THE WISPS,Ori and the Will of the Wisps is a sequel to t...

# Q6)

In [115]:
driver=webdriver.Chrome("chromedriver.exe")

In [116]:
driver.get("https://trak.in/india-startup-funding-investment-2015/")

In [117]:
Date=[]
startup_name=[]
industry=[]
industry_types=[]
city=[]
investor=[]
investor_type=[]
amount=[]

In [119]:
name=driver.find_elements_by_xpath("//td[@class='column-2']")
for i in name:
    if i.text is None :
        Date.append("--") 
    else:
        Date.append(i.text)
Date[0:4]

['15/01/2021', '28/01/2021', '19/01/2021', '19/01/2021']

In [120]:
name=driver.find_elements_by_xpath("//td[@class='column-3']")
for i in name:
    if i.text is None :
        startup_name.append("--") 
    else:
        startup_name.append(i.text)
startup_name[0:4]

['Digit Insurance', 'Bombay Shaving Company', 'DeHaat', 'Darwinbox']

In [121]:
name=driver.find_elements_by_xpath("//td[@class='column-4']")
for i in name:
    if i.text is None :
        industry.append("--") 
    else:
        industry.append(i.text)
industry[0:4]

['Financial Services', 'Consumer Goods Company', 'AgriTech Startup', 'SaaS']

In [122]:
name=driver.find_elements_by_xpath("//td[@class='column-5']")
for i in name:
    if i.text is None :
        industry_types.append("--") 
    else:
        industry_types.append(i.text)
industry_types[0:4]

['Insurance Services',
 'Shave care, beard care, and skincare products',
 'online marketplace for farm products and services',
 'HR Tech']

In [123]:
name=driver.find_elements_by_xpath("//td[@class='column-6']")
for i in name:
    if i.text is None :
        city.append("--") 
    else:
        city.append(i.text)
city[0:4]

['Bengaluru', 'New Delhi', 'Patna', 'Mumbai']

In [124]:
name=driver.find_elements_by_xpath("//td[@class='column-7']")
for i in name:
    if i.text is None :
        investor.append("--") 
    else:
        investor.append(i.text)
investor[0:4]

['A91 Partners, Faering Capital, TVS Capital Funds',
 'Reckitt Benckiser',
 'Prosus Ventures',
 'Salesforce Ventures']

In [125]:
name=driver.find_elements_by_xpath("//td[@class='column-8']")
for i in name:
    if i.text is None :
        investor_type.append("--") 
    else:
        investor_type.append(i.text)
investor_type[0:4]

['Venture', 'Venture', 'Series C', 'Seed']

In [126]:
name=driver.find_elements_by_xpath("//td[@class='column-9']")
for i in name:
    if i.text is None :
        amount.append("--") 
    else:
        amount.append(i.text)
amount[0:4]

['1,80,00,000', '6,172,258.50', '30,000,000', '15,000,000']

In [127]:
import pandas as pd
df=pd.DataFrame({})
df['date']=Date[0:10]
df['Startup_names']=startup_name[0:10]
df['Industry']=industry[0:10]
df['Industry_type']=industry_types[0:10]
df['Citys']=city[0:10]
df['Investors']=investor[0:10]
df['Investor_types']=investor_type[0:10]
df['Amount']=amount[0:10]
df

,date,Startup_names,Industry,Industry_type,Citys,Investors,Investor_types,Amount
0,15/01/2021,Digit Insurance,Financial Services,Insurance Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds",Venture,"1,80,00,000"
1,28/01/2021,Bombay Shaving Company,Consumer Goods Company,"Shave care, beard care, and skincare products",New Delhi,Reckitt Benckiser,Venture,"6,172,258.50"
2,19/01/2021,DeHaat,AgriTech Startup,online marketplace for farm products and services,Patna,Prosus Ventures,Series C,"30,000,000"
3,19/01/2021,Darwinbox,SaaS,HR Tech,Mumbai,Salesforce Ventures,Seed,"15,000,000"
4,18/01/2021,mfine,Health Tech Startup,AI-powered telemedicine mobile app,Bengaluru,Heritas Capital Management,Venture Round,"16,000,000"
5,18/01/2021,Udayy,EdTech,Online learning platform for kids in class 1-5,Gurgaon,Sequoia Capital,Seed Funding,"15,000,000"
6,11/01/2021,True Elements,Food Startup,Whole Food plant based Nashta,Pune,SIDBI Venture Capital,Series,"100,000,000"
7,13/01/2021,Saveo,B2B E-commerce,Pharmacies,Bengaluru,"Matrix Partners India, RTP Global, others",Seed,"4,000,000"
8,15/12/2020,Bira 91,Food and Beverage,Craft Beer,New Delhi,"Nishant Mittal, Pankaj Chaddah and Shikha Suni...",Funding,"1,273,634.07"
9,21/12/2020,Pine Labs,Financial Services,Payment Solutions Provider,Noida,Lone Pine Capital,Secondary Market,Undisclosed

# Q5)

In [167]:
driver=webdriver.Chrome("chromedriver.exe")

In [168]:
driver.get("https://images.google.com/maps")

In [169]:
val = input("Enter your value: ") 
print(val)

Enter your value: delhi
delhi

In [170]:
search=driver.find_element_by_xpath("//input[@class='tactile-searchbox-input']")
search.send_keys(val)

In [171]:
button=driver.find_element_by_xpath("//button[@id='searchbox-searchbutton']")
button.click()

In [172]:
location=[]

In [173]:
name=driver.find_elements_by_xpath("//button[@class='widget-reveal-card-address']")
for i in name:
    if i.text is None :
        location.append("--") 
    else:
        location.append(i.text)
location[0:4]

[]

# Q4)

In [215]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.flipkart.com")

In [216]:
search=driver.find_element_by_xpath("//input[@class='_3704LK']")
search.send_keys("oneplus nord5g")

In [219]:
button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
button.click()

In [220]:
names=[]
Ram=[]
display=[]
camera=[]
battery=[]

In [221]:
name=driver.find_elements_by_xpath("//div[@class='_4rR01T']")
for i in name:
    if i.text is None :
        names.append("--") 
    else:
        names.append(i.text)
names[0:4]

['OnePlus One (Silk White, 16 GB)']

In [222]:
r=driver.find_element_by_xpath("//div[@class='fMghEO']//li[1]")
Ram.append(r.text)   
Ram[0:4]

['3 GB RAM | 16 GB ROM']

In [223]:
r=driver.find_element_by_xpath("//div[@class='fMghEO']//li[2]")
display.append(r.text)   
display[0:4]

['13.97 cm (5.5 inch) Full HD Display']

In [224]:
r=driver.find_element_by_xpath("//div[@class='fMghEO']//li[3]")
camera.append(r.text)   
camera[0:4]

['13MP Rear Camera | 5MP Front Camera']

In [225]:
r=driver.find_element_by_xpath("//div[@class='fMghEO']//li[4]")
battery.append(r.text)   
battery[0:4]

['3100 mAh Li-Polymer Battery']

In [226]:
processor=[]
r=driver.find_element_by_xpath("//div[@class='fMghEO']//li[5]")
processor.append(r.text)   
processor

['Qualcomm Snapdragon 801 Processor']

In [227]:
warrant=[]
r=driver.find_element_by_xpath("//div[@class='fMghEO']//li[6]")
warrant.append(r.text)   
warrant

['Brand Warranty of 1 Year Available for Mobile and 6 Months for Accessories']

In [228]:
amount=[]
r=driver.find_element_by_xpath("//div[@class='_30jeq3 _1_WHN1']")
amount.append(r.text)   
amount

['₹18,998']

In [229]:
import pandas as pd
df=pd.DataFrame({})
df['Name']=names
df['RAM']=Ram
df['Display']=display
df['Camera']=camera
df['Battery']=battery
df['Processor']=processor
df['Warrant']=warrant
df['Amount']=amount
df

,Name,RAM,Display,Camera,Battery,Processor,Warrant,Amount
0,"OnePlus One (Silk White, 16 GB)",3 GB RAM | 16 GB ROM,13.97 cm (5.5 inch) Full HD Display,13MP Rear Camera | 5MP Front Camera,3100 mAh Li-Polymer Battery,Qualcomm Snapdragon 801 Processor,Brand Warranty of 1 Year Available for Mobile ...,"₹18,998"

In [230]:
df.to_csv('Brand.csv', index = False)